@charset "utf-8";
/* *******************
GENERAL
******************* */

/*设置页面的字体*/
body{
	font-family:"Arial Black", Gadget, sans-serif;
	}


/*设置页面主体部分*/

#wrapper{
	max-width:1150px;
	}
	
#wrapper p{
	text-align:center;
	}

#code{
	max-width:1150px;
	margin:0 auto;
	padding:5% 5%;
	}

#app{
	max-width:1150px;
	margin:0 auto;
	padding:5% 5%;
	}
	
#app p{
	font-size:1.2em;
	text-align:center;
	padding:5px 15px;	
	font-family:"Times New Roman", Times, serif;
	}
	
#code p{
	font-size:1.2em;
	text-align:center;
	padding:5px 15px;	
	font-family:"Times New Roman", Times, serif;
	}
	
#about{
	max-width:1150px;
	margin:0 auto;
	padding:5% 5%;
	}
	
#about p{
	font-size:1.2em;
	text-align:left;
	padding:0 7% 1% 10%;
	font-family:"Times New Roman", Times, serif;
	}
	
#contact{
	max-width:1150px;
	margin:0 auto;
	padding:5% 5%;
	}
	
#contact p{
	font-size:1.2em;
	text-align:center;
	padding:5px 15px;
	}

#paper{
	max-width:1150px;
	margin:0 auto;
	padding:5% 5%;
	}

#title1{
	clear:both;
	}

#title2{
	clear:both;
	}
	
#title3{
	clear:both;
	}
	
#title4{
	clear:both;
	}
	
#title5{
	text-align:2em;
	}



/*将超链接的下划线取消*/
a {
	text-decoration:none;
	}

h3{
	font-size:1.8em;
	margin:3%;
	text-align:center;
	position: relative;
	font-weight: bold;
	cursor: pointer;
	}
	

/*设置图片不超过父容器的大小*/
img{
	max-width:100%;
	}	
	

/* *******************
HEADING
******************* */

header{
	float:right;
	margin:-7px 0 150px 0;
	padding:0;
	border:0;
	width:100%;
	}


/*设置页面大标题和2级标题*/
#logo{
	text-align:left;
	margin:0 0 0 0;
	padding:1% 0 0 7%;
	}
	
h1{
	font-family:"Comic Sans MS", cursive;
	font-size:1.8em;
	font-weight:normal;
	line-height:0.8em;
	}

h2{
	font-family:"Comic Sans MS", cursive;
	font-size:1.5em;
	margin:-5px 0 0;
	font-weight:normal;
	}

h4{
	font-size:1.5em;
	text-align:left;
	margin:2%;
	padding:0 0 0 8%;
	}

/* *******************
NAVIGATION
******************* */

nav{
	padding:0 0 0 0;
	margin:0 0 0;
	}

nav ul{
	width:100%;
	list-style:none;
	margin:0;
	padding:0;
	text-align:right;
	}
	
nav li{
	font-family:"Comic Sans MS", cursive;
	font-size:1.4em;
	display:inline-block;
	padding:1% 0 1% 0;
	}
	
nav a{
	font-weight:800;
	padding:15px 20px;
	}

/*定义导航栏的两张照片的重叠*/

.top{
	height:60%;
	width:100%;
	}

/*定义主页的头像*/
.me{
	position:absolute;
	width:12%;
	height:32%;
	top:280px;
	left:12%;
	border-radius:10%;
	}
	
/*定义座右铭的位置*/
.motto{
	float:none;
	margin:3% 28% 0 28%;
	font-size:1.8em;
	}

.line_cv{
	margin: 3%;
	}

/* *******************
App
******************* */
#SmartCarsControl_icon{
	float:left;
	width:15%;
	margin:0 0 5% 10%;
	}


#SmartCarsControl{
	width:80%;
	margin:0 5% 5% 10%;
	}

#SmartCarsControl_icon img{
	padding:3% 0 5% 13%;
	}

#SmartCarsControl h3{
	text-align:center;
	padding:1% 0 0 0;
	font-size:1.7em;
	}
	
#SmartCarsControl h4{
	text-align:center;
	margin:-2% 0 0.8% 0;
	font-size:1.2em;
	}
	
#SmartCarsControl p{
	text-align:center;
	padding:0 0 1% 0;
	}

#SmartCarsControl h3:hover{
	color:#999;
	}

#SmartCarsControl h4:hover{
	color:#999;
	}
	
	
#LaTex_Help_icon{
	float:right;
	width:15%;
	margin:0 10% 0 0;
	}


#LaTex_Help{
	width:80%;
	margin:0 5% 5% 10%;
	}

#LaTex_Help_icon img{
	padding:3% 0 2% 13%;
	}

#LaTex_Help h3{
	text-align:center;
	padding:0 0 0 0;
	font-size:1.7em;
	}
	
#LaTex_Help h4{
	text-align:center;
	margin:-2% 0 0.8% 0;
	font-size:1.2em;
	}
	
#LaTex_Help p{
	text-align:center;
	}

#LaTex_Help h3:hover{
	color:#fff;
	}

#LaTex_Help h4:hover{
	color:#fff;
	}


/* *******************
FOOTER
******************* */


footer{
	font-size:1em;
	text-align:center;
	clear:both;
	padding-top:40px;
	padding-bottom:40px;
	background-color:#999;
	color:#fff;
	}
.social-icon{
	width:30px;
	height:30px;
	margin:10px 10px;
	}

/* *******************
PAGE VEDIO
******************* */

#gallery{
	margin:0;
	padding:0;
	list-style:none;
	display:flex;
	flex-wrap:wrap;
	align-items:flex-end;
	}
	
#gallery li a img{
	flex-grow:1;
	}

#gallery li{
	float:left;
	width:45%;
	margin:2.5%;
	background-color:#f5f5f5;
	color:#bdc3c7;
	}

#photo1{
	width:95%;
	margin:2.5%;
	}
	
#photo4{
	width:95%;
	margin:2.5%;
	}

#gallery li a p{
	margin:0;
	padding:5%;
	font-size:0.75em;
	color:#bdc3c7;
	}


/* *******************
PAGE ABOUT
******************* */


.myself-photo{
	display:block;
	max-width:150px;
	margin:0 auto 30px;
	border-radius:60%;
	}







/* *******************
PAGE CONTACT
******************* */


.contact-info{
	list-style:none;/*将列表前面的点去掉*/
	padding:0;
	margin:0;
	font-size:1.2em;
	text-align:center;
	}

.contact-info a{
	display:block;
	min-height:20px;
	background-repeat:no-repeat;
	background-size:25px 25px;
	padding:0 0 0 30px;
	margin:0 0 10px;
	}


/*.contact-info li.github a{
	background-image:url('../img/github.png')
	}
	
.contact-info li.mail a{
	background-image:url('../img/mail.png')
	}*/


.csu-photo{
	display:block;
	max-width:300px;
	margin:0 auto 30px;
	}


/* *******************
COLORS
******************* */

/*site body*/
body{
	background-color:#fff;
	color:#000;
	}
	
header{
	background:#fff;
	border-color:#fff;
	}
	
	
/*导航背景*/
nav ul{
	background-color:#afdfe4;
	}
	
h1,h2{
	color:#000;
	
	}
	
/*App部分的背景颜色*/
#SmartCarsControl{
	background-color:rgba(144, 215, 236, 0.3);
	}
#SmartCarsControl_icon{
	background-color:rgba(144, 215, 236, 0.3);
	}
	
#LaTex_Help{
	background-color:rgba(160, 191, 124, 0.5);
	}

#LaTex_Help_icon{
	background-color:rgba(160, 191, 124, 0.5);
	}	

#LaTex_Help p{
	color:#fff;
	}

/*页面底部的链接*/	
a {
	color:#6ab47b;
	}	

/*导航颜色*/	
nav a{
	color:#888;
	}
/*导航被选中时的颜色*/
nav a:hover{
	color:#32673f;
	}

/*提示用户当前的页面是哪一个*/
.selected{
	color:#32673f;
	}

/*定义Tiny的颜色*/

.title{
	color:#32673f;
	}


/*定义下拉菜单的格式*/

.drop-down-content{
	text-align:left;
	list-style-type:none;
	margin:1% 0 0 0;
	padding:0.5% 0.5%;
	display:none;
	background-color:#fff;
	width:130px;
	}

.drop-down-content li{
	font-size:0.9em;
	display:inline-block;
	margin:0.25%;
	}

	
.drop-down:hover .drop-down-content{
	display:block;
	}
	
*{
 	padding:0px;
 	margin:0px;
 	border:0px;
 }