@media screen and (max-width:480px){
	/* *******************
	TWO COLUMN LAYOUT
	******************* */
	
	#pramary{
		width:50%;
		float:left;
		}
		
	#secondary{
		width:40%;
		float:right;
		}
		
	.me{
		position:absolute;
		top:70px;
		left:5%;
		width:25%;
		height:120px;
		}
		
	.motto{
		font-size:0.9em;
		width:40%;
		margin:8% 25% 0 35%;
		}
		
	nav li{
		font-size:0.9em;
		}
		
	nav a{
		font-weight:400;
		padding:3px 8px;
		}
		
	header{
		margin:-7px 0 80px 0;
		}
		
		
	/* *******************
	PAGE VIDEO
	******************* */
	
	/*#gallery li {
		width:28.33333%;
		}*/
		
		
	/* *******************
	PAGE ABOUT
	******************* */
	
	.myself-photo{
		float:left;
		margin:0 5% 80px 0;
		}
	
	}
	
	
@media screen and (min-width:660px){
	
	}

